<html>
<body>
	<font style="font-size: 10pt; font-family: Tahoma;">Dear {{NAME}},</font>
	<br />
	<span style="font-size: 8.5pt; font-family: Tahoma; font-style: italic; color: #c4c4c4"> {{COMPANY}}</span>
	<br />
	<br />
	<font style="font-size: 10pt; font-family: Tahoma;"> Please use the following link to complete your subscription
		and get it activated application.</font>
	<br />
	<br />
	<font style="font-size: 9pt; font-family: Tahoma;"> {{URL}} </font>
	<br />
	<br />
	<font style="font-size: 10pt; font-family: Tahoma;"> Thank you for your business. <br /> <br />
		<address>
			<strong>RAVES Team</strong>
		</address> <br /> <br /> <br />
	</font>
	<br />
	<br />
	<br />
</body>
</html>
